<% layout('./layout/boilerplate') -%>
<body>
    <div class="container" style="font-family: 'Merriweather', serif; " >
        <nav class="navbar" style="background-color: #276e6a; border-radius: 25px; height: 35px;">
            <div class="container-fluid" style="display: flex; justify-content: center;">
              <a href="http://localhost:3000/codemath" class="nav-link align-text-top" style="font-family: 'Merriweather', serif; color: azure;">Home</a>
              </div>
          </nav>
          <hr>
        <h1 style="text-align: center;">Welcome to Code-Math:<br> Unlocking the Power of Coding</h1>
        <div class="things">
            <h2>Introduction</h2>
            <p>At Code-Math, we believe that mastering the language of computers opens doors to endless possibilities. Whether you're a beginner taking your first steps into the world of programming or an experienced developer looking to deepen your skills, our platform offers a comprehensive range of coding courses designed to empower learners of all levels.</p>
            <h3>Why Code-Math?</h3>
            <ol>
                <li>Expert Instructors:
                </li>
                <p>Learn from industry professionals with years of experience in software development, data science, artificial intelligence, and more.</p>
                <li>Interactive Learning: 
                </li>
                <p>Our courses blend theoretical knowledge with hands-on coding exercises, ensuring that you not only understand concepts but also gain practical skills.</p>
                <li>Flexible Learning:
                </li>
                <p> Study at your own pace, from anywhere in the world. Our online platform allows you to access course materials and assignments 24/7, fitting seamlessly into your busy schedule.</p>
                <li>Diverse Curriculum: 
                </li>
                <p>Explore a wide range of programming languages, frameworks, and technologies, including Python, JavaScript, React, Django, Machine Learning, and more.</p>
                <li>Community Support:
                </li>
                <p>Connect with fellow learners, share insights, and seek guidance from instructors through our vibrant online community forums.</p>
                
            </ol>
            <p>Ready to embark on your coding journey? Explore our course catalog and enroll in your first class today. Whether you're aiming to launch a career in tech, enhance your skill set, or pursue a passion project, Code-Math is here to support you every step of the way.

            Join us and discover the transformative power of coding at Code-Math!</p>
        </div>
        <a href="http://localhost:3000/codemath"><button class="btn btn-warning">Home page</button></a>
    </div>
</body>