<% layout('./layout/boilerplate') -%>
<body>
    <nav class="navbar" style="background-color: #276e6a; border-radius: 25px; height: 35px;">
        <div class="container-fluid" style="display: flex; justify-content: center;">
          <a href="http://localhost:3000/codemath" class="nav-link align-text-top" style="font-family: 'Merriweather', serif; color: azure;">Home</a>
          </div>
      </nav>
      <hr>
      <iframe width="1100" height="500" src="<%= q.lecture %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <p>This video is from YouTube</p>
</body>