
<% layout('./layout/boilerplate') -%>
<body>
    <span style="background-color: #f5ffff; display: flex; justify-content: center;"></span>
    <nav class="navbar" style="background-color: #276e6a; border-radius: 25px; height: 35px;">
        <div class="container-fluid" style="display: flex; justify-content: center;">
          <a href="/codemath" class="nav-link align-text-top" style="font-family: 'Merriweather', serif; color: azure;">Home</a>
          </div>
      </nav>
    <div class="container" style="position: absolute; top:15%; height: 25%; width: 50%; left: 25%; display: block; justify-content: center;">
      <div style="display: flex; justify-content: center;">
      <img src="/images/2-removebg-preview.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-center justify-content-center"></div>
      <div style="display: flex; justify-content: center; font-family: 'Merriweather', serif">
      <h2 style="display: block;">Welcome to Code-Math</h2></div>
    <form method="post" action="/codemath/login" style="font-family: 'Merriweather', serif;">
        <div style="display: flex; justify-content: center;">
        <h1 style="font-size: 2rem;">Login:</h1></div>
        <div class="mb-3" style="font-family: 'Merriweather', serif">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="username" class="form-control" id="exampleFormControlInput1" placeholder="Username" name="username" required=true>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password" name="password" required=true>
          </div>
        <div class="btn" style="display: block; justify-content: center;"><button type="submit" class="btn btn-success ">Submit</button></div>
      
    </form>
    <div><a href="/codemath/user">Don't have account</a></div>
   
</body>
</html>

</body>
</body>